<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/./public/stylesheets/footer.css">
<footer>
    <div class="contact-info">
        <p>Tel: (123) 456-7890</p>
        <p>Email: info@tusitio.com</p>
        <p>Dirección: Calle Falsa 123, Ciudad, País</p>
    </div>
    <div class="social-icons">
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
    </div>
    <nav>
        <ul>
            <li><a href="#privacy-policy">Política de Privacidad</a></li>
            <li><a href="#terms-of-service">Términos de Servicio</a></li>
            <li><a href="#faq">Preguntas Frecuentes</a></li>
        </ul>
    </nav>

    <div class="copyright">
        <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
    </div>
    <div class="sitemap">
        <nav>
            <ul>
                <li><a href="#home">Inicio</a></li>
                <li><a href="#about">Acerca de</a></li>
                <li><a href="#services">Servicios</a></li>
                <li><a href="#contact">Contacto</a></li>
            </ul>
        </nav>
    </div>
</footer>
