<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/./public/stylesheets/header.css">
<header>
    <nav>
        <h1>Azzeddine Habib</h1>
        <a href="#Home">Home</a>
        <a href="#About">About</a>
        <a href="#Contact">Contact</a>
        <a href="#CV">CV</a>
        <input type="text" placeholder="Search...">
    </nav>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-google"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <div class="language-selector">
        <a href="?lang=es">ES</a> | <a href="?lang=en">EN</a>
    </div>
    <div class="contact-info">
        <p>Tel: (123) 456-7890 | Email: info@tusitio.com</p>
    </div>
</header>








